@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --term-red: #f7768e;
  --term-orange: #ff9e64;
  --term-yellow: #e0af68;
  --term-custard: #cfc9c2;
  --term-grass: #9ece6a;
  --term-green: #73daca;
  --term-mint: #b4f9f8;
  --term-cyan: #2ac3de;
  --term-sky: #7dcfff;
  --term-blue: #7aa2f7;
  --term-magenta: #bb9af7;
  --term-fg-100: #c0caf5;
  --term-fg-200: #a9b1d6;
  --term-fg-300: #9aa5ce;
  --term-fg-400: #565f89;
  --term-bg-100: #414868;
  --term-bg-200: #24283b;
  --term-bg-300: #1a1b26;
  --term-bg-400: #16161e;

  --background: var(--term-bg-400);
  --foreground: var(--term-fg-100);
  --card: var(--term-bg-300);
  --card-foreground: var(--term-fg-200);
  --popover: red;
  --popover-foreground: red;
  --primary: red;
  --primary-foreground: red;
  --secondary: var(--term-bg-200);
  --secondary-foreground: var(--term-fg-100);
  --muted: red;
  --muted-foreground: var(--term-fg-400);
  --accent: red;
  --accent-foreground: var(--term-blue);
  --destructive: var(--term-red);
  --border: oklch(from var(--term-fg-400) l c h / 20%);

  --input: var(--term-bg-100);

  --ring: var(--term-magenta);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-term-red: var(--term-red);
  --color-term-orange: var(--term-orange);
  --color-term-yellow: var(--term-yellow);
  --color-term-custard: var(--term-custard);
  --color-term-grass: var(--term-grass);
  --color-term-green: var(--term-green);
  --color-term-mint: var(--term-mint);
  --color-term-cyan: var(--term-cyan);
  --color-term-sky: var(--term-sky);
  --color-term-blue: var(--term-blue);
  --color-term-magenta: var(--term-magenta);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;

    ::spelling-error {
      text-decoration: wavy #0db9d7 underline;
    }
    ::selection {
      background-color: #515c7e40;
      border-radius: var(--radius-md);
    }
  }
}
